<!doctype html>
<head>
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	<script src="js/jquery.min.js"></script>
  <script src="js/jquery.numeric.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/backbone/lib/underscore-min.js"></script>
  <script src="js/backbone/lib/backbone-min.js"></script>
  <script src="js/backbone/lib/backbone.iosync.js"></script>
  <script src="js/backbone/lib/backbone.iobind.js"></script>
	<style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Supporting marketing content */
      .marketing {
        margin-top: 60px;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      .clickable {
      	cursor: pointer;
      }

      .faak-item-container{
        position: relative;
      }

      .input-smallest { 
        width: 25px;
        text-align: right;
      }
    </style>
</head>
<body>
	<div id="app-container" class="container">
    <div class="row">
      <div class="span6 offset3">
        <div id="header-menu" >
    
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span3 marketing">
        <div id="thing-add-view" class="well">
        </div>
        <div id="thing-group-list-view" class="well">
        </div>
      </div>
      <div class="span6 marketing">
          <p class="lead">Who is going to go to 7-11 <a href="#myModal" data-toggle="modal" style="text-decoration:none;"><button class="btn btn-inverse pull-right">I WILL !</button></a> </p>
            <table class="table table-bordered table-hover">
              <tbody id="faaks-list">
              </tbody>
            </table>
      </div> 
      <div class="span3">
        <div class="well marketing">
          <p class="lead">Summary Wish List</p>
          <ul id="thing-summary-view">

          </ul>

        </div>
      </div>
    </div> 
    </div> 
    </div> <!-- /container -->
     
    <!-- // <script src="js/backbone/lib/backbone-nested.min.js"></script> -->
 
 <script type="text/template" id="header-template">



 


      <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/">Home</a></li>
            <li>
            <!-- Modal -->
<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create Faak</h3>
  </div>

  <div class="modal-body">
    <form action="/create" method="post">
      <fieldset>
        <input type="hidden" name="username" value="<%- username%>" >
        <div class="clearfix">
          <label for="titleInput">Title</label>
          <div class="input"><input type="text" name="title" id="titleInput"></div>
        </div>
        <div class="clearfix">
          <label>Description</label>
          <div class="input"><input type="text" name="description" ></div>
        </div>
        <div class="clearfix">
          <label>Will go in (minutes)</label>
          <div class="input-prepend input-append">
            <button id="dec-time" class="btn" type="button"><i class="icon-chevron-down clickable"></i></button>
            <input class="input-smallest positive-integer" size="1" id="time" type="text" name="time" value="5">
            <button id="inc-time" class="btn" type="button"><i class="icon-chevron-up clickable"></i></button>
          </div>
        </div>
        <div class="actions">
          <input type="submit" class="btn btn-primary" value="Create">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
            </li>
          </ul>
          <h3 class="muted">Faak</h3>
    </script>
<script type="text/template" id="faaks-template">
  <td>
      <div>
        <p class="lead"><strong><%- title%></strong> By <em><strong><%- creator%></strong></em></p>
        <blockquote><p><%- description%></p></blockquote>
        <em><p class="pull-right" id="timeleft"></p></em>
      </div>
  </td>
    </script>
    
  <script src="js/backbone/models/Faak.js"></script>
  <script src="js/backbone/collections/Faaks.js"></script>
  <script src="js/backbone/models/Thing.js"></script>
  <script src="js/backbone/collections/Things.js"></script>
  <script src="js/backbone/views/header-menu.js"></script>
  <script src="js/backbone/views/mainpage/FaakItemView.js"></script>
  <script src="js/backbone/views/mainpage/FaakListView.js"></script>
  <script src="js/backbone/views/mainpage/WishListAddView.js"></script>
  <script src="js/backbone/views/detailpage/ThingItemView.js"></script>
  <script src="js/backbone/views/detailpage/ThingListView.js"></script>
  <script src="js/backbone/views/detailpage/ThingGroupListView.js"></script>
  <script src="js/backbone/views/detailpage/ThingSummaryView.js"></script>
	<script src="js/backbone/views/mainpage/AppMainView.js"></script>
  <script src="js/backbone/AppMain.js"></script>

  <script type="text/template" id="thing-add-view-template">
<p class="lead">Wish List from <strong><em><%- username%></em></strong></p>
<fieldset class="form-horizontal">
  <div class="control-group">
    <label class="control-label-align-left" for="">Want</label>
    <div class="controls-custom">
      <input id="inputTitle" class="input-large" type="text" > <i class="icon-exclamation-sign" style="display:none"></i>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label-align-left" for="">Description</label>
    <div class="controls-custom">
      <input id="inputDescription" class="input-large" type="text" >
    </div>
  </div>
  <div class="control-group">
    <label class="control-label-align-left" for="">Quantity</label>
    <div class="controls-custom">
      <div class="input-prepend input-append">
        <button id="dec-qty" class="btn" type="button"><i class="icon-chevron-down clickable"></i></button>
        <input class="input-smallest positive-integer" size="1" id="inputQty" type="text" name="time" value="1" >
        <button id="inc-qty" class="btn" type="button"><i class="icon-chevron-up clickable"></i></button>
      </div>
    </div>
  </div>
</fieldset>
             <button id="btnSave" class="btn success">Save</button>
</script>
<script type="text/template" id="thing-item-view-template">
    <td>
      <div>
        <button id="btnDeleteItem" type="button" class="close">×</button>
        <fieldset class="form-horizontal">
          <div class="control-group">
            <label class="control-label-align-left" for="">Want</label>
            <div class="controls-custom">
              <i id="icon-edit-title" class="icon-edit clickable"></i>
              <strong><span id="viewTitle" class="view"><%- title%></span></strong>
              <span id="editTitle" class="edit hide"><input id="inputTitle" class="input-medium" type="text" value="<%- title%>" ></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label-align-left" for="">Quantity</label>
            <div class="controls-custom">
              <span id="viewQty" class="view"><strong><%- qty%></strong></span>
              <div id="editQty" class="input-prepend input-append">
                <button id="dec-qty" class="btn" type="button"><i class="icon-chevron-down clickable"></i></button>
                <input class="input-smallest positive-integer" size="1" id="inputQty" type="text" name="time" value="<%- qty%>" >
                <button id="inc-qty" class="btn" type="button"><i class="icon-chevron-up clickable"></i></button>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label-align-left" for="">Description</label>
            <div class="controls-custom">
              <i id="icon-edit-description" class="icon-edit clickable"></i>
              <span id="viewDescription" class="view"><%- description%></span>
              <span id="editDescription" class="edit hide"><input id="inputDescription" class="input-medium" type="text" value="<%- description%>"></span>
            </div>
          </div>
        </fieldset>
      </div>
    </td>
    
  </script>
</body>
